.tbl{
    margin-left: 50px;
    margin-right: 50px;
}
th{
    text-align: center;
}
td{
        text-align: center;
     }
pagination-controls{
        text-align: right;
     } 
     
     input{
        background-color: whitesmoke;
     }
     h1{
        text-align: center;
        
     }