<button class="btn btn-secondary" (click)="onCreate()">add-type</button>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Libelle Type</th>
                        <th colspan="2">action</th>
                    </tr>
                </thead> 
                <tbody>
                    <tr *ngFor="let type of types">
                        <td>{{type.libelleType}}</td>
                        
                        <td>
                            <button (click)="updateType(type)" class="btn btn-info btn-sm">update</button>
                            <button (click)="deleteType(type.id_type)" class="btn btn-danger btn-sm" style="margin-left: 10px;">delete</button>
                        
                        </td>
                    </tr>
                </tbody>   
            </table>

            



