<h1 class="text-muted">List Appliances</h1>

<div class="row">
    <div class="col-sm-4">
        <input type="text" class="form-control" name="nom" [(ngModel)]="nom" (ngModelChange)="Search()" placeholder="Entrez Nom pour rechercher">
    </div>

    <div class="col-sm-4">
        <button class="btn btn-secondary" (click)="onCreate()">add-contact</button>
    </div>

</div>

<table class="table table-hover">
    <thead class="table-success">
        <tr>
            <th (click)="sort('nom')">Nom &nbsp;<i class="fa fa-sort"></i></th>
            <th>Prenom</th>
            <th>Telephone</th>
            <th>Fonction</th>
            <th>Email</th>
            <th>client</th>
            <th colspan="2">action</th>
        </tr>
    </thead> 
    <tbody>
        <tr *ngFor="let contact of contacts | paginate:{id : 'listing_pagination',
        itemsPerPage:5,
        currentPage: page,
        totalItems:totalRecords} | orderBy: key: reverse">

            <td>{{contact.nom}}</td>
            <td>{{contact.prenom}}</td>
            <td>{{contact.telephone}}</td>
            <td>{{contact.fonction}}</td>
            <td>{{contact.email}}</td>
            <td>{{contact.libelleClient}}</td>
            <td>
                <button  (click)="updateContact(contact)" class="btn btn-info btn-sm">Update</button>
                <button  (click)="deleteContact(contact.id_contact)" class="btn btn-danger btn-sm"  style="margin-left: 10px;">delete</button>
            </td>
        </tr>
    </tbody>   
</table>
<div> 
    <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
</div>
