<h1 class="text-muted">List Sceances</h1>

<button class="btn btn-secondary" (click)="onCreate()">add-sceances</button> 
            <table class="table table-hover">
                <thead class="table-success">
                    <tr>
                        <th (click)="sort('dateSceance')">Date Sceance &nbsp;<i class="fa fa-sort"></i></th>
                        <th>Resumer</th>
                        <th>Participants</th>
                        
                        <th colspan="2">action</th>
                    </tr>
                </thead> 
                <tbody>
                    <tr *ngFor="let sceance of sceances| paginate:{id : 'listing_pagination',
                    itemsPerPage:5,
                    currentPage: page,
                    totalItems:totalRecords} | orderBy: key: reverse ">
                        <td>{{sceance.dateSceance | date: 'dd/MM/yyyy'}}</td>
                        <td>{{sceance.resumer}}</td>
                        <td>{{sceance.participants}}</td>
                        
                        <td>
                           <button (click)="updateSceance(sceance)" class="btn btn-info btn-sm">update</button>
                          <button (click)="deleteSceance(sceance.id_sceance)" class="btn btn-danger btn-sm" style="margin-left: 10px;">delete</button>
                            
                        </td>
                    </tr>
                </tbody>   
            </table>
            <div> 
                <pagination-controls id="listing_pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
            </div>
