<div class="container">
    <div class="row">
            <div class="col-md-12">
                    <h3 >Add new Type</h3>
                   <form (ngSubmit)="onSubmit()">

                           <div class="form-group">  
                                   <label for="">Libelle Client: </label>
                                   <input type="text" id="libelleClient" [(ngModel)]="client.libelleClient" name="libelleClient" class="form-control">
                           </div>  

                           <div class="form-group">  
                            <label for="">Secteur: </label>
                            <input type="text" id="secteur" [(ngModel)]="client.secteur" name="secteur" class="form-control">
                           </div>
                           
                           <div class="form-group">  
                            <label for="">Activite: </label>
                            <input type="text" id="activite" [(ngModel)]="client.activite" name="activite" class="form-control">
                           </div> 
                           
                           <div class="form-group">  
                                   <button type="submit" class="btn btn-primary btn-sm">submit</button>
                                   <button type="reset" class="btn btn-danger btn-sm" style="float: right;">reset</button>
                           </div>       
                   </form>
            </div>
    </div>
</div>
