<div class="container">
    <div class="row">
       <div class="col-md-4">
        <h2 class="text-center card-title"> Pov : </h2>
            <label> Pov: </label><br>
            <input type="text" id="libellePov" [(ngModel)]="pov.libellePov" name="libellePov" class="form-control" readonly>
            <label> Analyse Cyber: </label><br>
            <input type="text" id="analyseCyber" [(ngModel)]="pov.analyseCyber" name="analyseCyber" class="form-control" readonly>
            <label> Ingenieur Cyber: </label><br>
            <input type="text" id="ingenieurCyber" [(ngModel)]="pov.ingenieurCyber" name="ingenieurCyber" class="form-control" readonly>
            <label> Description: </label><br>
            <input type="text" id="description" [(ngModel)]="pov.description" name="description" class="form-control" readonly>
            <label> Date Debut: </label><br>
            <input type="text" id="dateDebut" [(ngModel)]="pov.dateDebut" name="dateDebut" class="form-control" readonly>
            <label> Date Fin: </label><br>
            <input type="text" id="dateFin" [(ngModel)]="pov.dateFin" name="dateFin" class="form-control" readonly>
            <label> Compte Manager: </label><br>
            <input type="text" id="compteManager" [(ngModel)]="pov.compteManager" name="compteManager" class="form-control" readonly>
            <label> Libelle Client: </label><br>
            <input type="text" id="libelleClient" [(ngModel)]="pov.libelleClient" name="libelleClient" class="form-control" readonly>
        </div>

        <div class="col-md-8"> 

            <h2 class="text-center card-title"> Sceances : </h2>
                <table class="table  table-bordered">
                    <thead>
                        <tr class="table-primary">
                            <th>Date de Sceance</th>
                            <th>Resumer</th>
                            <th>List de Participants</th>
                        
                        </tr>
                    </thead>
                    <tbody>
                        <tr  *ngFor="let sceance of sceances">
                            <td>{{sceance.dateSceance}}</td>
                            <td>{{sceance.resumer}}</td>
                            <td>{{sceance.participants}}</td>
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>            
</div>