<div class="container">
    <div class="row">
            <div class="col-md-12">
                    <h3 >Update  Type</h3>
                   <form (ngSubmit)="onSubmit()">

                           <div class="form-group">  
                                   <label for="">Libelle Type: </label>
                                   <input type="text" id="libelleType" [(ngModel)]="type.libelleType" name="libelleType" class="form-control">
                           </div>  

                           
                           <div class="form-group">  
                                   <button type="submit" class="btn btn-primary btn-sm">submit</button>
                                   <button type="reset" class="btn btn-danger btn-sm" style="float: right;">reset</button>
                           </div>       
                   </form>
            </div>
    </div>
</div>


